.header {
  display: flex;
  align-items: center;

  width: 1440px;
  margin: 0 auto;
  left: 270px;
  top: 50px;
}

.header__logo {
  margin: 0 60px 0 0;
}

.contacts {
  display: flex;
}

.primary-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
  letter-spacing: 0.15em;
  background: var(--secondary-elements-color);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.3s;
}

.primary-button:hover {
  background-color: tomato;
  box-shadow: 1px 1px 10px #000000;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.logo {
  width: 210px;
  height: 110px;
}

.list {
  list-style: none;
}

.navigation__list {
  display: flex;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2em;
  letter-spacing: 0.15em;

  margin: 0%;
}

.navigation__item {
  margin: 0 45px 0 0;
}

.navigation__item:last-child {
  margin-right: 60px;
}

.header__contacts {
  margin: 0 0 30px 55px;
}

.contacts {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.contacts__icon {
  margin: 0 15px 0 0;
  align-items: center;
  width: 40px;
  height: 40px;
}

.header-link {
  padding: 15px 30px;
}

.call-wrapper {
  margin: 0 30px 0 0;
}

/* footer */
.footer {
  margin: 0 auto;
  width: 1440px;
}

.footer,
.footer-wrapper {
  background-color: var(--secondary-background-color);
}

.footer__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
}

.footer__items {
  letter-spacing: 0.15em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
}

.adress__item {
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 0 5px 0;
}

.adress__item:last-child {
  margin-bottom: 0;
}

.social__list {
  display: flex;
}

.social__item {
  margin: 0 40px 0 0;
}

.social__item:last-child {
  margin: 0%;
}

.footer__logo {
  padding: 45px 0 0 90px;
  margin: 0 0 50px;
}

.footer__contacts {
  flex-wrap: wrap;
  width: 260px;
  margin: 0 290px 35px 0;
}

.contacts__title {
  flex-wrap: nowrap;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 90px;
}

.footer__navigation {
  margin: 0 210px 0 0;
}

.footer__navigation__item {
  margin: 0 0 15px 0;
}

.footer__navigation__item:last-child {
  margin-bottom: 0;
}

.links__item {
  margin: 0 0 15px 0;
}

.links__item:last-child {
  margin-bottom: 0;
}

.footer__phone,
.footer__e-mail {
  width: 190px;
  display: inline-block;
}

.footer__e-mail-wrapper,
.footer__call-wrapper {
  display: flex;
}

.footer__adress {
  margin: 0 535px 50px 0;
}

.footer__text {
  padding: 0 0 43px 560px;
}

.footer__link {
  transition-duration: 0.2s;
}

.footer__link:hover {
  color: tomato;
}
