/* Root */
:root {
  --primary-text-color: #000000;
  --primary-elements-color: #4bb165;
  --secondary-elements-color: #f49714;
  --primary-title-color: #3d433f;
  --secondary-background-color: #f1f1f1;
  --form-text-color: #c4c4c4;
}
/* Tag selectors */

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

p {
  margin: 0%;
}

main {
  margin: 0 auto;
  position: relative;
}

/* Header */

.header {
  /* display: flex;
  align-items: center; */
  position: absolute;
  z-index: 3;
  /* width: 1440px; */
  /* margin: 0 auto;
  left: 311px;
  top: 50px; */
}

/* .header__logo {
  margin: 0 60px 0 0;
}

.contacts {
  display: flex;
}

.primary-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
  letter-spacing: 0.15em;
  background: var(--secondary-elements-color);
  border-radius: 10px;
  color: #ffffff;
}

.primary-button:hover {
  background-color: tomato;
  box-shadow: 1px 1px 10px #000000;
}

.logo {
  width: 210px;
  height: 110px;
}

.list {
  list-style: none;
}

.navigation__list {
  display: flex;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2em;
  letter-spacing: 0.15em;

  margin: 0%;
}

.navigation__item {
  margin: 0 45px 0 0;
}

.navigation__item:last-child {
  margin-right: 60px;
}

.header__contacts {
  margin: 0 0 15px 55px;
}

.contacts {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.contacts__icon {
  margin: 0 15px 0 0;
  align-items: center;
  width: 40px;
  height: 40px;
}

.header-link {
  padding: 15px 30px;
}

.call-wrapper {
  margin: 0 30px 0 0;
} */

/* Main */
/* Hero */

.hero {
  font-weight: 500;
  position: relative;
  /* width: 1440px; */
  height: 1032px;
  margin: 0 auto;
  margin-bottom: 105px;

  background-image: linear-gradient(rgba(255, 255, 255, 0.41), rgba(255, 255, 255, 0.41)),
    url('../images/HeroBackground.png');
  background-position: top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.hero-content {
  width: 1440px;
  padding: 415px 0 0 85px;
  margin: 0 auto;
}

.hero__text_first {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.15em;

  width: 310px;
}

.hero__title {
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  font-weight: 500;
  width: 600px;
}

.hero__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
  width: 516px;
}

.hero-form {
  position: absolute;
  width: 448px;
  height: 512px;
  left: 942px;
  top: 334px;
  background-color: #ffffff;
  border-radius: 10px;
}
.hero-form__title {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
  padding: 40px 0px 0 65px;
  margin: 0 0 30px 0;
}

.hero-form__text {
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--form-text-color);
  margin: 0 0px 0 50px;
  padding: 0 0 14px 0;
  width: 144px;
}

.hero-form__input {
  width: 342px;
  height: 50px;
  margin: 0 0 25px 48px;
  padding: 0%;
}

.hero__background {
  max-height: 1032px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.hero__button {
  border: none;
  padding: 15px 30px;
  margin: 0 0px 32px 67px;
}
/* our-services */
.our-services {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 175px;
}

.our-services__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0 0 95px 0;
}
.services-list__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.service-list__title_first {
  margin: 0 0 20px 0;
}
.services-list__title_second {
  margin: 0 0 55px 0;
}
.services-list__title_third {
  margin: 0 0 52px 0;
}
.services-list__title_fourth {
  margin: 0 0 17px 0;
}
.services-list__text {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  display: inline-block;
}

.services-list__text_first {
  margin: 0 0 25px 0;
}
.services-list__text_second {
  margin: 0 0 55px 0;
}
.services-list__text_third {
  margin: 0 0 75px 0;
}
.services-list__text_fourth {
  margin: 0 0 45px 0;
}

.our-services__item:nth-child(1) {
  width: 520px;
  height: 295px;
}
.our-services__item:nth-child(2) {
  width: 475px;
  height: 295px;
}
.our-services__item:nth-child(3) {
  width: 450px;
  height: 310px;
}
.our-services__item:nth-child(4) {
  width: 515px;
  height: 310px;
}

.services-list__link {
  padding: 15px 20px 15px 30px;
}

.our-services__item:nth-child(1) {
  margin: 0 150px 70px 0;
}

.our-services__item:nth-child(3) {
  margin: 0 220px 0 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 124px;
}

/* our-benifits */
.our-benifits {
  width: 1440px;
  margin: 0 auto;
}

.benefits-list {
  display: flex;
}
.our-benifits__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0 0 165px 0;
}
.benefits-list__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
  margin: 0 0 25px 0;
}
.benefits-list__text {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

.our-benefits__item {
  max-width: 390px;
  margin: 0 125px 0 0;
}

.our-benefits__item:nth-child(1) {
  padding: 0 0 0 60px;
}

.our-benefits__item:nth-child(2) {
  max-width: 335px;
}

.our-benefits__item:nth-child(3) {
  max-width: 355px;
  margin-right: 0%;
  padding: 0 0 225px 0;
}

.benefits-list_image {
  display: inline-flex;
  text-align: center;
  padding: 0 0 0 115px;
}

.benefits-list_image_second {
  padding: 0 0 0 90px;
}

.benefits-list_image-third {
  padding: 0 0 0 80px;
}

/* our-projects */
.our-projects {
  width: 1440px;
  margin: 0 auto;
}
.our-projects__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0 0 100px 0;
}

.projects-list__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
  margin: 0 0 35px 0;
  text-align: center;
  padding: 40px 0 0 0;
}

.projects-list__image {
  margin: 0 0 35px 0;
  padding: 0 0 0 95px;
}

.projects-list__text {
  font-size: 20px;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 450px;
  margin: 0 0 0 60px;
  padding: 0 0 50px 0;
}
.our-projects__link {
  padding: 15px 30px;
}

.our-projects__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 120px;
  margin: 0 0 135px 0;
}

.projects-list__image {
  width: 380px;
  height: 280px;
}

.projets-list__item {
  width: 570px;
  border: 2px solid #4bb165;
  border-radius: 10px;
  /* filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.25)); */
  margin: 0 60px 60px 0;
}

.projets-list__item:nth-child(2),
.projets-list__item:nth-child(4) {
  margin-right: 0%;
}

.projets-list__item:nth-child(3),
.projets-list__item:nth-child(4) {
  margin-bottom: 0%;
}

.our-projects__link {
  margin: 0 0 0 597px;
  margin-bottom: 65px;
}

/* partners */
.partners {
  background-color: var(--secondary-background-color);
  width: 1440px;
  margin: 0 auto;
  height: 300px;
}

.partners__list {
  display: flex;
  padding: 110px 0 0 65px;
}

.partners__logo {
  margin: 0 40px 0 0;
  align-items: flex-end;
}

.parntners-wrapper {
  background-color: var(--secondary-background-color);
  width: 100%;
}
/* reviews */
.reviews {
  width: 1440px;
  margin: 0 auto;
}

.reviews__list {
  display: flex;
  padding: 0 0 275px 120px;
}

.reviews__item {
  width: 570px;
  height: 410px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.06), -4px -4px 25px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin: 0 60px 0 0;
}
.reviews__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 140px 0 150px 0;
}

.reviews__image {
  margin: 0 0 30px 0;
}

.reviews__text {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  margin: 0 0 5px 0;
}

.reviews__content {
  padding: 100px 0 0 60px;
}

.reviwes__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
}

/* call-to-join */
.call-to-join {
  width: 1440px;
  height: 1030px;
  margin: 0 auto;
}

.call-to-join__content {
  display: flex;
}

.test {
  margin: 360px 0 0 70px;
}

.call-to-join__text {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  display: inline-block;
  width: 740px;
  margin: 0 0 100px 0;
  /* padding: 370px 0 0 660px; */
}

.call-to-join__link {
  padding: 15px 30px;
  /* margin: 100px 0 0 665px; */
  display: inline-block;
}

.call-to-join__images {
  position: relative;
  margin: 190px 0 0 90px;
}

.call-to-join__image {
  position: relative;
  width: 500px;
}

.call-to-join__image_second {
  position: absolute;
  left: 40px;
  top: 320px;
  width: 272px;
}
