/* Root */
:root {
  --primary-text-color: #000000;
  --primary-elements-color: #4bb165;
  --secondary-elements-color: #f49714;
  --primary-title-color: #3d433f;
  --secondary-background-color: #f1f1f1;
  --form-text-color: #c4c4c4;
}
/* Tag selectors */

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  padding: 0%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

p {
  margin: 0%;
}

main {
  margin: 0 auto;
  position: relative;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 1440px;
  margin: 0 auto;
  left: 311px;
  top: 50px;
}

.header__logo {
  margin: 0 60px 0 0;
}

.contacts {
  display: flex;
}

.primary-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
  letter-spacing: 0.15em;
  background: var(--secondary-elements-color);
  border-radius: 10px;
  color: #ffffff;
}

.logo {
  width: 210px;
  height: 110px;
}

.list {
  list-style: none;
}

.navigation__list {
  display: flex;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2em;
  letter-spacing: 0.15em;

  margin: 0%;
}

.navigation__item {
  margin: 0 45px 0 0;
}

.navigation__item:last-child {
  margin-right: 60px;
}

.header__contacts {
  margin: 0 0 15px 55px;
}

.contacts {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.contacts__icon {
  margin: 0 15px 0 0;
  align-items: center;
}

.header-link {
  padding: 15px 30px;
}

.call-wrapper {
  margin: 0 30px 0 0;
}

/* Main */
/* Hero */

.hero {
  font-weight: 500;
  position: relative;
  width: 1440px;
  margin: 0 auto;
  margin: 0 auto;
}

.hero-content {
  position: absolute;
  left: 85px;
  top: 415px;
}

.hero__text_first {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.15em;

  width: 310px;
}

.hero__title {
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  font-weight: 500;
  width: 600px;
}

.hero__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
  width: 516px;
}

.hero-form {
  position: absolute;
  width: 448px;
  height: 512px;
  left: 942px;
  top: 334px;
  background-color: #ffffff;
  border-radius: 10px;
}
.hero-form__title {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
  padding: 40px 0px 0 65px;
  margin: 0 0 30px 0;
}

.hero-form__text {
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--form-text-color);
  margin: 0 0px 0 50px;
  padding: 0 0 14px 0;
  width: 144px;
}

.hero-form__input {
  width: 342px;
  height: 50px;
  margin: 0 0 25px 48px;
  padding: 0%;
}

.hero__background {
  max-height: 1032px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.hero__button {
  border: none;
  padding: 15px 30px;
  margin: 0 0px 32px 67px;
}
/* our-services */
.our-services {
  width: 1440px;
  margin: 0 auto;
}

.our-services__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.15em;
}
.services-list__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}
.services-list__text {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

.services-list__link {
  padding: 15px 20px 15px 30px;
}

/* our-benifits */
.our-benifits {
  width: 1440px;
  margin: 0 auto;
}
.our-benifits__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}
.benefits-list__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
}
.benefits-list__text {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

/* our-projects */
.our-projects {
  width: 1440px;
  margin: 0 auto;
}
.our-projects__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.projects-list__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
}

.projects-list__text {
  font-size: 20px;
  line-height: 1.4em;

  text-align: center;
  letter-spacing: 0.1em;
}
.our-projects__link {
  padding: 15px 30px;
}
/* partners */
.partners {
  background-color: var(--secondary-background-color);
  width: 1440px;
  margin: 0 auto;
}

.parntners-wrapper {
  background-color: var(--secondary-background-color);
  width: 100%;
}
/* reviews */
.reviews {
  width: 1440px;
  margin: 0 auto;
}
.reviews__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}
.reviews__text {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

.reviwes__name {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
}

/* call-to-join */
.call-to-join {
  width: 1440px;
  margin: 0 auto;
}
.call-to-join__text {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
}

.call-to-join__link {
  padding: 15px 30px;
}

/* footer */
.footer {
  margin: 0 auto;
  width: 1440px;
}

.footer,
.footer-wrapper {
  background-color: var(--secondary-background-color);
}

.footer__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  color: var(--primary-title-color);
}

.footer__items {
  letter-spacing: 0.15em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1em;
}

.adress__item {
  font-size: 18px;
  line-height: 1.2em;
}

.e-mail,
.phone {
  align-items: center;
}

.e-mail-wrapper,
.call-wrapper {
  display: flex;
  flex-direction: row;
}
