/* Root */
:root {
  --primary-text-color: #000000;
  --primary-elements-color: #4bb165;
  --secondary-elements-color: #f49714;
  --primary-title-color: #3d433f;
  --secondary-background-color: #f1f1f1;
}
/* Tag selectors */

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

p {
  margin: 0%;
}

main {
  margin: 0 auto;
  position: relative;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 1440px;
  margin: 0 auto;
  left: 311px;
  top: 48px;
}

.contacts {
  display: flex;
}

.logo {
  width: 210px;
}

.list {
  list-style: none;
}

.navigation__list {
  display: flex;
}

/* Main */
/* Hero */

.hero {
  font-weight: 500px;
  position: relative;
  /* width: 1440px; */
  margin: 0 auto;
}

.hero-content {
  position: absolute;
  left: 85px;
  top: 415px;
}

.hero__title {
  width: 600px;
}

.hero__text_first {
  width: 310px;
}

.hero__text {
  width: 516px;
}

.hero__form {
  position: absolute;
  width: 448px;
  height: 512px;
  left: 942px;
  top: 334px;
  background-color: #ffffff;
}

.hero__background {
  max-height: 1032px;
  width: 100%;
  position: relative;
}
/* hero */
/* our-services */
.our-services {
  width: 1440px;
  margin: 0 auto;
}
/* our-benifits */
.our-benifits {
  width: 1440px;
  margin: 0 auto;
}
/* our-projects */
.our-projects {
  width: 1440px;
  margin: 0 auto;
}
/* partners */
.partners {
  background-color: var(--secondary-background-color);
  width: 1440px;
  margin: 0 auto;
}

.parntners-wrapper {
  background-color: var(--secondary-background-color);
  width: 100%;
}
/* reviews */
.reviews {
  width: 1440px;
  margin: 0 auto;
}

/* call-to-join */
.call-to-join {
  width: 1440px;
  margin: 0 auto;
}
/* footer */
.footer {
  margin: 0 auto;
  width: 1440px;
}

.footer,
.footer-wrapper {
  background-color: var(--secondary-background-color);
}
